html {
	font-family: Times;
	font-size: 16px;
}

p {
	margin: 0;
}


#eleventh-grade-nikolsky-link {
	color: black;
	text-decoration: none;
}

#eleventh-grade-nikolsky-link:visited {
	color: black;
}

#eleventh-grade-nikolsky-link:hover {
	color: red;
}


#eleventh-grade-nikolsky-didakticheskie-link {
	color: black;
	text-decoration: none;
}

#eleventh-grade-nikolsky-didakticheskie-link:visited {
	color: black;
}

#eleventh-grade-nikolsky-didakticheskie-link:hover {
	color: red;
}


#back-link {
	color: black;
	text-decoration: none;
}

#back-link:visited {
	color: black;
}

#back-link:hover {
	color: white;
	background-color: black;
}


#main-link {
	color: black;
	text-decoration: none;
}

#main-link:visited {
	color: black;
}

#main-link:hover {
	color: white;
	background-color: black;
}