html {
	font-family: Times;
	font-size: 16px;
}

p {
	margin: 0;
}


#albina-books-link {
	color: black;
	text-decoration: none;
}

#albina-books-link:visited {
	color: black;
}

#albina-books-link:hover {
	color: red;
}


#albina-homeworks-link {
	color: black;
	text-decoration: none;
}

#albina-homeworks-link:visited {
	color: black;
}

#albina-homeworks-link:hover {
	color: red;
}


#back-link {
	color: black;
	text-decoration: none;
}

#back-link:visited {
	color: black;
}

#back-link:hover {
	color: white;
	background-color: black;
}


#main-link {
	color: black;
	text-decoration: none;
}

#main-link:visited {
	color: black;
}

#main-link:hover {
	color: white;
	background-color: black;
}