body {
	font-family: Times;
	font-size: 16px;
}

img {
	width: 50%;
	height: auto;
}

p {
	text-align: center;
}

.pbig {
	text-align: center;
	line-height: 400px;
}

#jump-in-1998-link {
	color: black;
	text-decoration: none;
}

#jump-in-1998-link:visited{
	color: black;
}

#jump-in-1998-link:hover {
	background-color: black;
	color: white;
}

#back-link {
	color: black;
	text-decoration: none;
}

#back-link:visited{
	color: black;
}

#back-link:hover {
	background-color: black;
	color: white;
}